.accordeon {
  &-header {
    &-title {
      display: block;
      @extend .inner-section-accent-title;
      padding-top: 30px;
      margin-bottom: 15px;
    }
  }

  &-body {
    &-title {
      display: block;

      font-size: 18px;
      font-weight: 600;
      margin-bottom: 30px;
      padding-top: 15px;
    }
  }
}
