.section-menu {
  margin-bottom: 30px;

  &__container {
    @extend .flex-wrap;
    margin-bottom: 30px;

    a {
      display: flex;

      position: relative;
      margin-right: 5px;
      padding: 5px;
      transition: color var(--main-transition);

      &::before {
        position: relative;
        top: 9px;
        left: 0;
        margin-right: 5px;
        width: 4px;
        height: 4px;
        content: "";
        background-color: var(--accent);
        border-radius: 50%;
      }

      &:hover,
      &:focus {
        color: var(--accent);
      }
    }
  }

  /*&__load-more-btn {
    display: none;
    @extend .button-default;

    @include m-b-mobile-lg-down {
      display: flex;
    }
  }*/
}
