.slider-section {
  &-controls {
    display: flex;
    align-items: center;

    @include m-b-tablet-down {
      display: none;
    }
  }

  &-button {
    &-prev,
    &-next {
      @extend .button-default;
      @extend .flex-centered-content;

      width: 50px;
      height: 50px;

      border: 1px solid var(--light);
      border-radius: 50%;

      svg {
        fill: var(--accent);
      }

      @extend .hover-opacity;
    }

    &-prev {
      margin-right: 30px;
      transform: rotate(180deg);
    }
  }

  .swiper-pagination {
    position: static;
    margin: 0 auto;
    transform: none !important;

    &-bullet {
      background-color: var(--accent);
      opacity: 0.5;
      &-active {
        background-color: var(--accent);
        opacity: 1;
      }
    }
  }

  .swiper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.main-slider {
  overflow: hidden;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    touch-action: none;
    user-select: none;

    img {
      min-height: 381px;
    }
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  &::before,
  &::after {
    display: none;
  }

  &--client {
    .swiper-slide svg {
      fill: var(--info);
    }
  }
}
