.swiper {
  &-button-prev,
  &-button-next {
    position: static;
    margin: 0;

    &::after {
      display: none;
    }
  }

  &-button-lock {
    display: none;
  }
}

.infinity-slider {
  overflow: hidden;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    touch-action: none;
    user-select: none;

    img {
      width: clamp(120px, 5vw, 200px);
      height: auto;
      object-fit: contain;
      pointer-events: none;
    }
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }
}

.review-clients-tabs-slider .swiper-slide {
  width: fit-content;
}
