-
  const countrysList = [
    {
      img: {
        alt: 'card-img',
        name: 'flag.svg'
      },
      title: 'ОАЭ'
    },
    {
      img: {
        alt: 'card-img',
        name: 'flag.svg'
      },
      title: 'Египет'
    },
    {
      img: {
        alt: 'card-img',
        name: 'flag.svg'
      },
      title: 'ОАЭ'
    },
    {
      img: {
        alt: 'card-img',
        name: 'flag.svg'
      },
      title: 'Египет'
    },
    {
      img: {
        alt: 'card-img',
        name: 'flag.svg'
      },
      title: 'ОАЭ'
    },
    {
      img: {
        alt: 'card-img',
        name: 'flag.svg'
      },
      title: 'Египет'
    },

  ]




