-
  const documentsList = [
    {
      tag: 'a',
      title: 'Дипломы',
      small: 'Подробнее о легализации дипломов',
    },
    {
      tag: 'a',
      title: 'Свидетельства о браке',
      small: 'Подробнее о легализации свидетельств о браке',
    },
    {
      tag: 'a',
      title: 'Справки о несудимости',
      small: 'Подробнее о легализации справок о судимости',
    },
    {
      tag: 'a',
      title: 'Свидетельства о рождении',
      small: 'Подробнее о легализации свидетельств о рождении',
    },
    {
      tag: 'a',
      title: 'Доверенности',
      small: 'Подробнее о легализации доверенностей',
    },
    {
      tag: 'a',
      title: 'Все услуги',
      small: 'Перейти на страницу со всеми услугами',
    },
  ]




