-
  const featuresList = [
    {
      title: 'Опыт, накопленный годами',
            content: `
        <span>
          Мы накопили богатый опыт в сфере легализации и апостилирования документов, что позволяет нам эффективно решать задачи любой сложности.
          </span>
      `,
    },
    {
      title: 'Доступные цены',
      content: `
        <span>
          Забота о клиентах — наш приоритет, поэтому мы предлагаем качественные услуги по разумной цене.
          </span>
      `,
    },
    {
      title: 'Индивидуальный подход',
      content: `
        <span>
          Мы учитываем уникальные потребности каждого клиента. Наша команда подробно консультирует вас на каждом этапе, подбирает оптимальные решения в соответствии с вашими запросами и гарантирует, что процесс будет простым и понятным.
          </span>
      `,
    },
    {
      title: 'Высокое качество услуг',
      content: `
        <span>
          Каждая процедура выполняется с вниманием к деталям, чтобы обеспечить соответствие документов международным требованиям и стандартам.
          </span>
      `
    },
  ]




