-
  const paymentsList = [
    {
      title: 'Наличными в офисе:',
      content: `
        <span>
          Оплатите услугу прямо при посещении нашего офиса.
          </span>
      `,
    },
    {
      title: 'Банковской картой:',
      content: `
        <span>
          Мы принимаем карты любых банков для вашего удобства.
          </span>
      `,
    },
    {
      title: 'Через терминал:',
      content: `
        <span>
          Удобные терминалы оплаты доступны в нашем офисе.
          </span>
      `,
    },
    {
      title: 'Онлайн-оплата:',
      content: `
        <span>
         Быстрый и безопасный способ оплатить услуги через интернет.
          </span>
      `,
    },
  ]




