-
  const reviewsList = [
    {
      icon: true,
      type: 'yandex',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "Яндекс",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: 'google',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "Google",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: '2gis',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "2GIS",
      btnText: "Читать далее..."
    },
        {
      icon: true,
      type: 'yandex',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "Яндекс",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: 'google',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "Google",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: '2gis',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "2GIS",
      btnText: "Читать далее..."
    },
        {
      icon: true,
      type: 'yandex',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "Яндекс",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: 'google',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "Google",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: '2gis',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "2GIS",
      btnText: "Читать далее..."
    },
        {
      icon: true,
      type: 'yandex',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "Яндекс",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: 'google',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "Google",
      btnText: "Читать далее..."
    },
    {
      icon: true,
      type: '2gis',
      img: {
        alt: 'card-img',
        name: 'yandex_icon.svg'
      },
      name: 'Елена Козлова',
      text: 'Хочу поблагодарить за отличную работу по легализации документов. Всё сделали вовремя и очень эффективно. Особенно хочу отметить высочайшую клиентоориантированность и супер гибкость. Всегда на связи, быстро отвечали на вопросы и спокойно объясняли все нюансы. Благодаря этому весь процесс прошёл без лишних переживаний.',
      date: '20 января',
      link: "#",
      linkText: "2GIS",
      btnText: "Читать далее..."
    },

  ]




