-
  const serviceList = [
    {
      tag: 'a',
      icon: true,
      title: 'Апостиль',
      content: `
        <ul>
          <li>
            Апостиль на нотариальные документы
          </li>
          <li>
            Апостиль на документы органов ЗАГС
          </li>
          <li>
            Апостиль на справки о несудимости
          </li>
          <li>
            Апостиль на дипломы, аттестаты
          </li>
       </ul>
      `,

      small: 'Подробнее'
    },
    {
      tag: 'a',
      icon: true,
      title: 'Апостиль',
      content: `
        <ul>
          <li>
            Апостиль на нотариальные документы
          </li>
          <li>
            Апостиль на документы органов ЗАГС
          </li>
          <li>
            Апостиль на справки о несудимости
          </li>
          <li>
            Апостиль на дипломы, аттестаты
          </li>
       </ul>
      `,

      small: 'Подробнее'
    },
    {
      tag: 'a',
      icon: true,
      title: 'Апостиль',
      content: `
        <span>
          Оставьте заявку любым удобным для вас способом — через сайт, по телефону или лично в офисе. Мы сразу же свяжемся с вами для уточнения всех деталей.
          </span>
      `,

      small: 'Подробнее'
    },

  ]




