-
  const workflowList = [
    {
      title: 'Получение заявки',
      num: '1',
      content: `
        <span>
          Оставьте заявку любым удобным для вас способом — через сайт, по телефону или лично в офисе. Мы сразу же свяжемся с вами для уточнения всех деталей.
          </span>
        `,
    },
    {
      title: 'Работа с документами',
      num: '2',
      content: `
        <span>
          Наша команда профессионалов берёт на себя весь процесс: проверку документов, заверение, апостиль и консульскую легализацию.
          </span>
        `,
    },
    {
      title: 'Оплата',
      num: '3',
      content: `
        <span>
          Вы оплачиваете услуги любым удобным способом - наличными, банковской картой, через терминал или онлайн.
          </span>
        `,
    },
    {
      title: 'Получение результата',
      num: '4',
      content: `
        <span>
          Заберите готовые документы в нашем офисе или воспользуйтесь услугой курьерской доставки в любую точку мира.
          </span>
        `,
    }
  ]




