.accent-color {
  color: var(--accent);
}

.text-color {
  color: var(--text);
}

/* flex*/

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*resets*/

.fieldset-default {
  margin: 0;
  padding: 0;
  border: 0;
}

.button-default {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.form-undertext {
  display: inline-block;
  font-size: 12px;
  color: var(--info);
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #ffffff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.main-form-control {
  @extend .input-reset;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  background-color: transparent;

  border: 1px solid var(--light);
  border-radius: 5px;

  &::placeholder {
    font-size: 16px;
    color: var(--text);
  }

  &.invalid-control {
    position: relative;

    border-color: var(--accent);
    background-image: url("../assets/img/icon-info.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
  }

  @include m-b-tablet-down {
    margin-bottom: 20px;
  }

  @include m-b-mobile-lg-down {
    margin-bottom: 15px;
    padding: 10px;
  }
}

.main-input-file {
  &-container {
    display: flex;

    input[type="file"] {
      display: none;
    }

    label {
      @extend .flex-wrap;
      align-items: center;
      margin-right: 10px;
      color: var(--info);

      svg {
        margin-right: 5px;
        fill: var(--info);
      }
    }
  }

  &-remove-btn {
    @extend .button-default;
    color: var(--accent);
    text-decoration: underline;

    &.disabled {
      display: none;
    }
  }
}

.section-transition {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/img/section-bg.png");
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    position: absolute;
    width: 100%;
    height: 40px;
    content: "";
    pointer-events: none;
    z-index: 3;
  }

  &::before {
    top: 0;
    background-image: linear-gradient(to top, rgba(249, 249, 249, 0), #f4f4f4);
  }

  &::after {
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(249, 249, 249, 0),
      #f4f4f4
    );
  }
}

.inner-section-title {
  display: block;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  max-width: var(--inner-section-content-max-width);

  color: var(--section-title-color);

  @include m-b-tablet-lg-down {
    font-size: 32px;
  }

  @include m-b-tablet-down {
    font-size: 28px;
    margin-bottom: 25px;
  }

  @include m-b-mobile-lg-down {
    font-size: 22px;
  }
}

.inner-section-accent-title {
  display: block;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  max-width: var(--inner-section-content-max-width);

  color: var(--accent);

  @include m-b-tablet-lg-down {
    font-size: 24px;

    margin-bottom: 35px;
  }

  @include m-b-tablet-down {
    font-size: 20px;
    margin-bottom: 30px;
  }

  @include m-b-mobile-lg-down {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.section-header {
  @extend .flex-column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;

  & > * {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--dark);
  }

  & > *:first-child {
    padding: 5px 20px;
    text-align: center;
    margin: 0 auto;

    font-size: 40px;
    font-weight: 700;

    color: var(--accent);

    @include m-b-mobile-lg-down {
      font-size: 28px;
    }
  }
}

.section-inner-offset {
  padding: 120px 0;

  @include m-b-desktop-md-down {
    padding: 80px 0;
  }

  @include m-b-desktop-down {
    padding: 60px 0;
  }

  @include m-b-laptop-down {
    padding: 40px 0;
  }

  @include m-b-tablet-lg-down {
    padding: 30px 0;
  }

  @include m-b-tablet-down {
    padding: 25px 0;
  }
}

.section-bottom-offset {
  margin-bottom: 60px;
}

.base-section-list {
  width: 100%;
  display: grid;
  grid-gap: clamp(20px, 3vw, 30px);
}

.base-section-list--4cols {
  @include m-b-tablet-down {
    grid-template-columns: 1fr;
  }
  @include m-b-tablet-up {
    grid-template-columns: repeat(2, 1fr);
  }
  // @include m-b-laptop-up {
  // 	grid-template-columns: repeat(3, 1fr);
  // }
  @include m-b-desktop-up {
    grid-template-columns: repeat(4, 1fr);
  }
  @include m-b-desktop-lg-up {
    grid-template-columns: repeat(4, 1fr);
  }
}

.base-section-list--3cols {
  @include m-b-tablet-down {
    grid-template-columns: 1fr;
  }
  @include m-b-tablet-up {
    grid-template-columns: repeat(2, 1fr);
  }
  @include m-b-laptop-up {
    grid-template-columns: repeat(3, 1fr);
  }
  @include m-b-desktop-up {
    grid-template-columns: repeat(3, 1fr);
  }
  @include m-b-desktop-lg-up {
    grid-template-columns: repeat(3, 1fr);
  }
}

.base-section-list--2cols {
  @include m-b-tablet-down {
    grid-template-columns: 1fr;
  }
  @include m-b-tablet-up {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*text*/

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*img*/
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*scroll*/

.main-scroll {
  &::-webkit-scrollbar {
    background-color: var(--main-scrollbar-color);
    width: var(--main-scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-scrollbar-thumb-color);
    border-radius: 4px;
  }
}

/*containers*/

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @include m-b-desktop-down {
    padding: 0 50px;
  }

  @include m-b-laptop-down {
    padding: 0 30px;
  }

  @include m-b-tablet-down {
    padding: 0 15px;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: var(--container-fluid-width);
}

/*elements*/

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/*transitions*/

.hover-opacity {
  opacity: 1;
  transition: opacity var(--main-transition);

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.main-link {
  color: var(--accent);
  border-bottom: 1px solid transparent;
  transition: border-color var(--main-transition);

  &:hover,
  &:focus {
    border-color: var(--accent);
  }
}

.main-btn {
  @extend .button-default;
  @extend .flex-centered-content;

  font-size: 14px;
  font-weight: 700;

  padding: 15px 30px;
  width: fit-content;

  color: var(--white);
  background-color: var(--accent);

  border-radius: 170px;
  @extend .hover-opacity;
}

.outline-btn {
  @extend .button-default;
  @extend .flex-centered-content;

  font-size: 14px;
  font-weight: 400;

  padding: 15px 30px;
  width: fit-content;

  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--light);
  border-radius: 170px;
  @extend .hover-opacity;

  svg {
    fill: var(--accent);
    margin-left: 10px;
  }
}

.modal-closer {
  z-index: 100;
}
