/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
	// base
	--font-family: "Segoi UI", sans-serif;
	--section-content-width: 1200px;
	--content-width: 1720px;
	--content-fluid-width: 1920px;
	--container-offset: 100px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--container-fluid-width: var(--content-fluid-width);

	// colors
	--white: #ffffff;
	--dark: #181818;
	--accent: #e0545f;
	--text: #78778e;
	--info: #595857;
	--gray: #4e4e4e;
	--light: #d7d7d7;
	--brown: #5c3d3d;
	--section-title-color: #3b3b3b;

	--main-bg-color: #f4f4f4;

	--main-transition: 0.25s ease-in;

	// scrollbar
	--main-scrollbar-width: 8px;
	--main-scrollbar-color: var(--white);
	--main-scrollbar-thumb-color: var(--accent);

	--inner-section-content-max-width: 900px;
}
