.breadcrumbs
  .container.breadcrumbs__container
    ul.breadcrumbs__list
      li.breadcrumbs__list-item
        a(href="index.html")
          span Главная

      li.breadcrumbs__list-item
        span Консульская легализация
