<a class="developer-link" href="https://littleweb.ru/" rel="noopener nofollow norefferer" aria-label="LittleWeb.ru - создание сайтов под ключ">
  <img src="./assets/img/icon-developer.svg" width="180" height="60" alt="LittleWeb.ru - создание сайтов под ключ">
</a>
