nav.nav
  ul.nav__list
    li.nav__list-item
      a(href="#").active Апостиль
    li.nav__list-item
      a(href="#") Консульская легализация
    li.nav__list-item
      a(href="#") Переводы
    li.nav__list-item
      a(href="#") Цены
    li.nav__list-item
      a(href="#") Контакты
