.social
  ul.social__list
    li.social__list-item
      a(href="https://vk.com/buroimpression" rel="noopener nofollow noreferrer" aria-label="vKontakte" target="_blank")
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-vk")
    li.social__list-item
      a(href="https://www.facebook.com/buroimpression" rel="noopener nofollow noreferrer" aria-label="facebook" target="_blank")
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-fb")
    li.social__list-item
      a(href="https://vk.com/buroimpression" rel="noopener nofollow noreferrer" aria-label="vKontakte" target="_blank")
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-twitter")
