include ../../mixins/contact-card

section.contacts
  .container
    h1.inner-section-title Контакты

    +contact-card({
      title: 'Офис на марксистской',
      desc: 'Переводческие услуги с нотариальным заверением, консульская легализация и апостилирование документов, получение справки об отсутствии судимости.',
      address: 'г. Москва, ул. Марксистская, дом 10, 3 этаж, оф. 306',
      note: 'Единственный выход из ст. Марксистская, из стеклянных дверей – прямо. Выходите на улицу и идете прямо около 60 метров. Желто-белый 4 этажный исторический особняк, через калитку входите на территорию, заходите в здание (подъезд находится по правую руку), проходите прямо до лестницы и поднимаетесь на 3-й этаж. На третьем этаже проходите по коридору прямо до конца и, повернув налево, оказываетесь перед нашим офисом № 306. Если заблудитесь, не стесняйтесь – звоните, мы с радостью Вам подскажем!',
      time: 'Пн-Пт: с 10:00 до 19:00 (без перерыва)',
      phones: [
        '<a href="tel:+79859600253">+7(985) 960-02-53</a>',
        '<a href="tel:+74959285366">+7(495) 928-53-66</a>'
      ],

      email: '<a href="mailto:info@buroimpression.ru">info@buroimpression.ru</a>',

      map: '<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9d06dffb835667fec2e79d667bf18de9ac6c2b6d5c11091c23adeaa8242c122f&amp;source=constructor" width="800" height="450" frameborder="0"></iframe>'
    })

    +contact-card({
      title: 'Офис на Китай-городе',
      desc: 'Переводческие услуги с нотариальным заверением, консульская легализация и апостилирование документов, получение справки об отсутствии судимости.',
      address: 'г. Москва, Петроверигский переулок, дом № 3, строение 1, в помещении нотариальной конторы Радченко И.В.',
      note: 'Метро «Китай-город» (Таганско-Краснопресненская линия). Выход в сторону улицы Маросейка, из стеклянных дверей метро направо, пройти по переходу до конца, выход налево. Выйдя из метро, поверните направо и далее пройдите по улице Маросейка до пересечения с Петроверигским переулком.',
      time: 'Пн-Чт: с 10:00 до 18:00<br>Пт: с 10:00 до 17:00 (без перерыва)',

      phones: [
        '<a href="tel:+74997072130">+7(499)707-21-30</a>',
        '<a href="tel:+79197274334">+7(919)727-43-34</a>'
      ],

      email: '<a href="mailto:zakaz@cldoc.ru">zakaz@cldoc.ru</a>',

      map: '<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9ead5a189e9831834c8c0552a28e8cada55fbfcc2bce36f15ae0561de03b7bce&amp;source=constructor" width="800" height="440" frameborder="0"></iframe>'
    })




