extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/index-page/hero
  include ./sections/index-page/about
  include ./sections/index-page/services
  include ./sections/index-page/countrys
  include ./sections/index-page/documents
  include ./sections/index-page/info
  include ./sections/index-page/review_2
  include ./sections/index-page/workflow
  include ./sections/index-page/client
  include ./sections/index-page/payments
  include ./sections/index-page/features
  include ./sections/index-page/review
  include ./sections/index-page/questions
  include ./sections/common/request

block modals
  include ./modals/map-modal
