extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./components/breadcrumbs
  include ./layouts/inner-page-template
  include ./sections/common/request

block modals

