
.modal.expanded-text-modal#expanded-text-modal
  .modal__overlay
    .modal__content
      .expanded-text-modal__header
        include ./modal-components/modal-closer
        span.modal-name

        .expanded-text-modal__header-footer
          span.modal-date
          a

      .modal__body
        span.modal-text


