.expanded-text-modal {
  @extend .flex-column;

  .modal__content {
    padding: 25px;
  }

  &__header {
    @extend .flex-column;
    gap: 5px;

    .modal-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
      color: var(--dark);
    }

    &-footer {
      @extend .flex-wrap;
      align-items: end;
      gap: 5px;

      .modal-date {
        align-items: flex-start;
        font-weight: 400;
        font-size: 12px;
        color: var(--dark);
      }

      a {
        font-weight: 400;
        font-size: 14px;
        color: var(--accent);
        text-decoration: underline;
      }
    }
  }

  .modal__body {
    margin-top: auto;
    padding-top: 24px;

    .modal-text {
      font-weight: 400;
      font-size: 16px;
      color: var(--dark);
    }
  }

  .modal-closer {
    top: 20px;
    right: 20px;
  }

  .logo {
    top: 10px;
    left: 15px;
  }
}
