mixin custom-select(data)
  select(id= data.id).custom-select
    each option in data.options
      option(value= option.value ? option.value : null selected= option.isSelected ? true : false)= option.name ? option.name : option.placeholder
