include ../../mixins/section-header
include ../../mixins/main-btn

section.about
  .container.about__container(id="container" class="container")
    +section-header({title: "О нас"})

    .about__text
      p <strong>Центр легализации</strong> - компания, предоставляющая услуги по апостилированию и консульской легализации различных типов документов, выданных на территории России, на профессиональном уровне. Благодаря опыту, приобретенному за годы работы, мы уверенно можем гарантировать качество предоставляемых нами услуг, точные сроки исполнения.

      p Кроме легализации документов для других стран Центр легализации документов также предлагает услуги по переводу документов с или на любые иностранные языки с нотариальным засвидетельствованием подписи переводчика, что является необходимым для легализации и проставления апостиля для большинства стран.
      p Центр легализации в Москве принимает к работе документы, присланные из других городов России и других стран,       а также предлагает услуги курьерской доставки легализованных документов в любую точку мира и различные способы оплаты.

      p Подробнее об услугах компании вы можете узнать в разделах Апостиль и Консульская легализация, а также по телефону и в офисе компании.

    +main-btn({
      title: 'Оставить заявку',
      id: 'quiz'
    })
