section.prices
  .container
    h1.inner-section-title Цены

    .prices__accordeon
      .accordeon
        .accordeon-item
          .accordeon-header
            span.accordeon-header-title Апостилирование документов
          .accordeon-body
            <span class="accordeon-body-title">Апостилирование документов, выданных органами ЗАГС Москвы и МО</span>

            <div class="table-wrapper">
              <table>
                <tbody>
                  <tr>
                    <td>Услуга</td>
                    <td>Сроки</td>
                    <td>Стоимость*</td>
                  </tr>
                  <tr>
                    <td>Апостилирование документов, выданных органами ЗАГС г. Москвы</td>
                    <td>5-6 рабочих дней</td>
                    <td>4000</td>
                  </tr>
                  <tr>
                    <td>Апостилирование документов, выданных органами ЗАГС Московской области</td>
                    <td>5-6 рабочих дней</td>
                    <td>4000</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <small>*Стоимость в рублях за один документ</small>

            <span class="accordeon-body-title">Апостилирование оригиналов документов об образовании</span>
            <div class="table-wrapper">
              <table>
                <tbody>
                  <tr>
                    <td>Услуга</td>
                    <td>Сроки</td>
                    <td>Стоимость*</td>
                  </tr>
                  <tr>
                    <td>Апостилирование оригиналов документов об образовании в департаментах образования г. Москвы и Московской области</td>
                    <td>от 55 календарных дней</td>
                    <td>6000 рублей</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <small>*Стоимость в рублях за один комплект документов</small>

        .accordeon-item
          .accordeon-header
            span.accordeon-header-title Перевод документов
          .accordeon-body
            <span class="accordeon-body-title">Письменный перевод типовых одостраничных документов </br>(с услугой нотариального удостоверения подлинности подписи переводчика)</span>

            <div class="table-wrapper">
              <table>
                <tbody>
                  <tr>
                    <td>Тип документа</td>
                    <td>Стоимость*</td>
                    <td>Стоимость**</td>
                    <td>Стоимость***</td>
                  </tr>
                  <tr>
                    <td>свидетельство о рождении, свидетельство о заключении брака, свидетельство о расторжении брака, свидетельство о смерти, свидетельство о перемене имени, водительское удостоверение, аттестат, диплом, справки, согласие, свидетельства ИНН, ОГРН и др.</td>
                    <td>1000</td>
                    <td>1400</td>
                    <td>от 1000 до 1800****</td>
                  </tr>
                  <tr>
                    <td>Двухстраничные документы (доверенности, приложения к дипломам и т.д.)</td>
                    <td>1500</td>
                    <td>2000</td>
                    <td>от 1200 до 2500****</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <small>*Стоимость перевода c/на английский, немецкий, французский языки 1 рабочий день</small>
            <small>**Стоимость перевода с/на испанский, итальянский, португальский языки</small>
            <small>***Стоимость перевода с/на другие языки в рублях</small>
            <small>****В зависимости от языка и направления перевода</small>

            <span class="accordeon-body-title">Стоимость перевода за расчетную страницу по языкам нетиповых многостраничных документов</span>

            <div class="table-wrapper">
              <table>
                <tbody>
                  <tr>
                    <td>Язык</td>
                    <td>Стоимость*</td>
                    <td>Стоимость**</td>
                  </tr>

                  <tr>
                    <td>Английский</td>
                    <td>550/600</td>
                    <td>750/800</td>
                  </tr>

                  <tr>
                    <td>Немецкий</td>
                    <td>550/600</td>
                    <td>750/800</td>
                  </tr>

                  <tr>
                    <td>Французский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>

                  <tr>
                    <td>Итальянский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>

                  <tr>
                    <td>Испанский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>

                  <tr>
                    <td>Абхазский</td>
                    <td>900/1000</td>
                    <td>1100/1200</td>
                  </tr>

                  <tr>
                    <td>Азербайджанский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>

                  <tr>
                    <td>Арабский</td>
                    <td>790/850***</td>
                    <td>1000/1050***</td>
                  </tr>

                  <tr>
                    <td>Армянский</td>
                    <td>700/750</td>
                    <td>900/950</td>
                  </tr>

                  <tr>
                    <td>Белорусский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>

                  <tr>
                    <td>Болгарский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>

                  <tr>
                    <td>Венгерский</td>
                    <td>700/750</td>
                    <td>900/950</td>
                  </tr>
                  <tr>
                    <td>Вьетнамский</td>
                    <td>790/850</td>
                    <td>990/1050</td>
                  </tr>
                  <tr>
                    <td>Греческий</td>
                    <td>700/750</td>
                    <td>900/950</td>
                  </tr>
                  <tr>
                    <td>Грузинский</td>
                    <td>700/750</td>
                    <td>900/950</td>
                  </tr>
                  <tr>
                    <td>Дари</td>
                    <td>790/850***</td>
                    <td>1100/1150***</td>
                  </tr>
                  <tr>
                    <td>Датский</td>
                    <td>750/800</td>
                    <td>950/1000</td>
                  </tr>
                  <tr>
                    <td>Иврит</td>
                    <td>790/850**</td>
                    <td>1000/1050**</td>
                  </tr>
                  <tr>
                    <td>Индонезийский</td>
                    <td>1500/1600</td>
                    <td>1700/1800</td>
                  </tr>
                  <tr>
                    <td>Казахский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Киргизский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Китайский</td>
                    <td>790/850***</td>
                    <td>1100/1200***</td>
                  </tr>
                  <tr>
                    <td>Корейский</td>
                    <td>790/850***</td>
                    <td>1100/1200***</td>
                  </tr>

                  <tr>
                    <td>Латышский</td>
                    <td>700/750</td>
                    <td>900/950</td>
                  </tr>

                  <tr>
                    <td>Литовский</td>
                    <td>700/750</td>
                    <td>900/950</td>
                  </tr>

                  <tr>
                    <td>Молдавский (румынский)</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>

                  <tr>
                    <td>Монгольский</td>
                    <td>900/1000</td>
                    <td>1100/1200</td>
                  </tr>

                  <tr>
                    <td>Нидерландский (голландский)</td>
                    <td>750/800</td>
                    <td>950/1000</td>
                  </tr>

                  <tr>
                    <td>Норвежский</td>
                    <td>750/800</td>
                    <td>950/1000</td>
                  </tr>
                  <tr>
                    <td>Персидский (фарси)</td>
                    <td>790/850***</td>
                    <td>1100/1200***</td>
                  </tr>
                  <tr>
                    <td>Польский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Португальский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Пушту</td>
                    <td>790/850***</td>
                    <td>1100/1200***</td>
                  </tr>
                  <tr>
                    <td>Сербский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Словацкий</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Словенский</td>
                    <td>700/750</td>
                    <td>900/950</td>
                  </tr>
                  <tr>
                    <td>Таджикский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Тайский</td>
                    <td>1500/1600</td>
                    <td>1700/1800</td>
                  </tr>
                  <tr>
                    <td>Турецкий</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Туркменский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Узбекский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Украинский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Финский</td>
                    <td>750/800</td>
                    <td>950/1000</td>
                  </tr>
                  <tr>
                    <td>Хинди</td>
                    <td>1500/1600</td>
                    <td>1700/1800</td>
                  </tr>
                  <tr>
                    <td>Хорватский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Черногорский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Чешский</td>
                    <td>600/650</td>
                    <td>800/850</td>
                  </tr>
                  <tr>
                    <td>Шведский</td>
                    <td>750/800</td>
                    <td>950/1000</td>
                  </tr>
                  <tr>
                    <td>Эстонский</td>
                    <td>950/1000</td>
                    <td>1150/1200</td>
                  </tr>
                  <tr>
                    <td>Японский</td>
                    <td>950/1000***</td>
                    <td>1150/1200***</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <small>*Стоимость перевода с/на иностранный язык на русский язык, руб. за переводческую страницу по тарифу СТАНДАРТ¹</small>
            <small>**Стоимость перевода с/на иностранный язык на русский язык, руб. за переводческую страницу по тарифу БИЗНЕС²</small>

            <small>СТАНДАРТ¹ - перевод выполняется дипломированным переводчиком с соблюдением всех правил языка (стилистических, орфографицеских, пунктуационных), с проверкой редактора наличия в переводе всех фрагментов текста, цифр, правильности и единообразия перевода имен собственных.</small>
            <small small small>БИЗНЕС² - перевод выполняется дипломированным переводчиком-специалистом в конкретной тематике с соблюдением всех правил языка (стилистических, орфографицеских, пунктуационных), с проверкой редактора наличия в переводе всех фрагментов текста, цифр, правильности и единообразия перевода имен собственных, правильности употребления специальной терминологии, исправление неточностей и опечаток.</small>

            <small>*** При переводе с русского языка на иероглифические языки стоимость перевода рассчитывается по русскому тексту документа.</small>

            <span class="accordeon-body-title">Письменный перевод носителем языка</span>

            <div class="table-wrapper">
              <table>
                <tbody>
                  <tr>
                    <td>Язык перевода</td>
                    <td>Стоимость*</td>
                  </tr>
                  <tr>
                    <td>Английский</td>
                    <td>1400</td>
                  </tr>
                  <tr>
                    <td>Немецкий</td>
                    <td>1400</td>
                  </tr>
                  <tr>
                    <td>Французский</td>
                    <td>1400</td>
                  </tr>
                  <tr>
                    <td>Итальянский</td>
                    <td>1500</td>
                  </tr>
                  <tr>
                    <td>Испанский</td>
                    <td>1500</td>
                  </tr>
                  <tr>
                    <td>Китайский</td>
                    <td>1600</td>
                  </tr>
                  <tr>
                    <td>Японский</td>
                    <td>1600</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <small>*Стоимость перевода в рублях за переводческую страницу</small>

            <small>Переводческой (расчетной, электронной) страницей принято считать 1800 знаков с пробелами по статистике Word в готовом тексте перевода.</small>
            <small>Стандартная скорость выполнения перевода - до 8 переводческих страниц в день. Если перевод трудоемкий (исходный документ неразборчив, написан от руки и т.д.) или тематика переводимого документа узконаправленна, срок оказания услуги по переводу увеличивается.</small>
            <small>При выполнении перевода более 8 расчетных страниц в день услуга считается срочной. Стоимость срочного перевода увеличивается на 50%.</small>
            <small>Если перевод расценивается как трудоемкий, стоимость услуг увеличивается на 50%.</small>
            <small>По стоимости перевода с/на другие языки мира, пожалуйста, уточняйте по телефону.</small>
