section.content-block
  .container
    h1 Консульская легализация документов

    .section-menu
      .section-menu__container
        each item in [1,2,3,4,5,6,7,8,9]
          a(href="#") для Экваториальной Гвинеи
          a(href="#") для Чили
          a(href="#") для Уругвая


    p В каких случаях необходимо делать перевод документов с&nbsp;нотариальным заверением?

    p Согласно статье 10 Закона «Основы законодательства Российской Федерации о нотариате» делопроизводство в Российской Федерации ведется на русском. Любой документ, предназначенный для использования на территории РФ, выполненный полностью на иностранном языке или имеющий отдельные надписи на иностранном языке, должен быть переведён на русский язык, если иностранный текст не дублируется на русском языке. Перевод документов выполняется дипломированным переводчиком и, как правило, подпись переводчика на переводе должна быть заверена нотариусом
    p
      | <strong>Нотариальное</strong> заверение перевода документов делается, чтобы придать документу официальный статус.
      | При подаче документов в официальные органы или другие организации РФ часто возникает необходимость в заверении перевода документа нотариусом Российской Федерации. Нотариальное заверение перевода документов подтверждает,
      | что работа выполнена профессиональным переводчиком, имеющим соответствующее образование и диплом.


    h2 Список органов, уполномоченных поставить апостиль

    ul
      li Апостиль на свидетельство о рождении, заключении или расторжении брака проставляется отделами ЗАГС.
      li Апостиль на диплом и приложение к нему, аттестат или иной документ об образовании проставляется Департаментами или Управлениями образования.
      li Апостиль на справки об отсутствии судимости проставляется Главным информационно-аналитическим центром МВД.
      li Апостиль на нотариальные копии, а также на документы, выданные нотариусами столицы, проставляет Главное управление Министерства юстиции РФ по Москве. А апостиль на документы, выданные нотариусами Московской области, - Управление Министерства юстиции РФ по Московской области.

    p Мы ставим апостиль и осуществляем перевод документов.
    p Специальная цена на апостиль документов — от 3100 рублей (от 5 документов)!
    p Звоните: <a href="#">+7 (495) 928-53-66</a> <a href="#">+7 (495) 928-53-66</a>

    p Если Вам необходимо поставить апостиль и сделать перевод этих документов в городе Москва, обращайтесь к нам! У нас большой опыт в оказании услуги проставления апостиля на дипломы, свидетельства и другие виды документов, в том числе нотариально заверенных.


