.documents {
	@extend .section-inner-offset;

	&__container {
		@extend .flex-column;
		align-items: center;
		max-width: 1440px;
	}

	&__text {
		text-align: center;
		margin-bottom: 40px;
		font-size: 24px;
		color: var(--text);
	}

	&__list {
		@extend .base-section-list;

		li:last-child .info-card {
			background-color: var(--accent);

			.info-card-title {
				color: var(--white);

				&::before {
					background-color: var(--white);
				}
			}
			small {
				color: var(--white);
			}
		}
	}
}
