.hero {
	position: relative;
	display: flex;
	background-color: var(--white);
	// opacity: 0.8;
	height: fit-content;
	min-height: calc(100vh - 140px);
	min-height: calc(100svh - 140px);
	background-image: url("../assets/img/svg-map.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	// &::before {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	content: "";
	// 	width: 350px;
	// 	height: 350px;
	// 	background-image: url("../assets/img/logo-sm.svg");
	// 	background-size: 120px;
	// 	background-position: center;
	// 	background-repeat: no-repeat;
	// }

	// &::after {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	content: "";
	// 	background-color: var(--white);
	// 	opacity: 0.6;
	// 	backdrop-filter: blur(10px);
	// }

	&__logo img {
		width: 220px;
		height: auto;
		object-fit: contain;
	}
}

.top-banner {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 11;

	.swiper {
		width: calc(100% - clamp(20px, 6vw, 100px));
		height: calc(100% - clamp(20px, 6vw, 100px));
		margin: auto;
		border-radius: 30px;
		border: 2px solid var(--accent);
		overflow: hidden;
		background-color: var(--white);
		opacity: 0.8;

		.swiper-wrapper {
			position: relative;
		}

		.swiper-slide {
			display: flex;
			flex-direction: column;
			width: 100%;
			box-sizing: border-box;
			width: 100%;
			border-radius: 10px;
			padding: clamp(20px, 3vw, 60px);

			&__content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				gap: 20px;
				margin: auto;
			}
		}

		.swiper-pagination {
			display: flex;
			max-width: 90%;
			margin: 0 auto;
			left: 50%;
			bottom: 20px;
			transform: translateX(-50%);

			&-bullet {
				flex-grow: 1;
				border-radius: 0;
				background-color: var(--info);
				&-active {
					background-color: var(--accent);
				}
			}
		}
	}
}
