.questions {
  @extend .section-inner-offset;

  &__container {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 20px;
    max-width: 1440px;

    @include m-b-down(1200px) {
      grid-template-columns: 1fr;
    }
  }
  .section-header > *:first-child {
    text-align: start;
  }
}
