.review-clients {
  @extend .section-inner-offset;

  .section-tabs__container {
    @extend .flex-wrap;
    align-items: center;
    gap: 30px;

    span {
      font-weight: 600;
      font-size: 20px;
      transition: color var(--main-transition);
      cursor: pointer;

      &::before {
        content: none;
      }

      &:hover,
      &:focus {
        color: var(--accent);
      }
    }
  }

  &-tabs {
    // @extend .flex-wrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

    button {
      @extend .button-default;
      @extend .flex-centered-content;
      padding: 10px;
      font-weight: 600;
      font-size: clamp(16px, 3vw, 20px);
      border: none;
      background-color: transparent;

      color: var(--dark);

      &.active {
        text-decoration: underline;
        color: var(--accent);
      }
    }
  }
}
